/* CSS imports */

@import url("https://fonts.googleapis.com/css?family=Raleway");

/* landing-page styling */

body {
  background-image: url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&auto=format&fit=crop&w=3900&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: white;
}

.white-text {
  text-shadow: 10px 8px 9px black;
}

#search-icon {
  top: 0.9rem;
  cursor: pointer;
}

#album-search-icon {
  cursor: pointer;
}

label.white-text {
  font-size: 1.5rem;
}

#artist-input {
  margin-left: 43.5px;
}

#album-search-icon {
  top: -0.5rem;
}

#query-selection {
  display: flex;
  justify-content: center;
}

#query-selection > p {
  margin: 0 4%;
}

.query-type {
  font-size: 1.7rem;
}

.error-message {
  text-align: center;
  background-color: red;
  color: #ffffff;
}

#toast-container {
  bottom: auto !important;
  top: 62%;
}

/* results page styling */

.search-profile {
  background-color: rgba(0, 0, 0, 0.9);
  background: url("https://i.stack.imgur.com/vAGZp.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: none;
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
  padding: 4px;
  border-radius: 4px;
}

.search-profile h1 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

.search-pic {
  width: 180px;
  height: 180px;
  margin: 20px auto 10px;
}

.search-pic img {
  width: 100%;
  border-radius: 50%;
}

.search-bio {
  text-align: center;
  padding-bottom: 10px;
}

.search-bio h2 {
  color: white;
  font-size: 2em;
}

.search-bio p {
  text-align: center;
  color: white;
  font-size: 1em;
}

.search-results-page,
#album-results-page {
  width: 100%;
  padding: 5% 0px 1%;
  font-family: "Raleway", sans-serif;
}

.search-profile a,
.search-profile a:hover {
  text-decoration: none;
}

#albums ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#albums li {
  display: inline;
}

.search-profile h3 {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#albums {
  margin: 10px auto;
  clear: both;
  text-align: center;
  flex-direction: row;
}

#albums img {
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0 5px;
}

.search-tracks {
  background-image: url("https://i.stack.imgur.com/vAGZp.jpg");
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

.search-profile ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
}

.search-profile ol li {
  color: white;
  border-bottom: 1px solid white;
  counter-increment: number;
  display: -webkit-box;
  display: flex;
  flex-wrap: initial;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  align-content: initial;
  height: 45px;
}

.search-profile ol li a span:not(:last-child) {
  margin-right: 2em;
}

.app-name {
  color: white;
  width: 80%;
  margin: 0px auto;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

.img:hover::before,
.image:hover::after {
  content: attr(title);
  color: #fff;
  justify-content: center;
  padding: 4px 10px;
  text-align: center;
  background: url("https://i.stack.imgur.com/vAGZp.jpg");
  display: block;
}

@media (min-width: 600px) {
  #toast-container {
    bottom: auto !important;
    right: 41% !important;
    top: 34%;
    left: 41%;
  }
}
